.header {
    height: var(--space-4-xl);
    padding-inline: var(--space-2-xl);
}

.main {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding-block: var(--space-2-xl) 0;
    padding-inline: var(--space-2-xl);
    margin-inline: auto;
    border-top-left-radius: var(--space-2-xl);
    border-top-right-radius: var(--space-2-xl);
}

@media (width >= 640px /* --width-s */) {
    .main {
        width: var(--width-s);
    }
}

@media (width >= 768px /* --width-m */) {
    .main {
        width: var(--width-m);
    }
}

@media (width >= 1024px /* --width-l */) {
    .main {
        width: var(--width-l);
    }
}

@media (width >= 1280px /* --width-xl */) {
    .main {
        width: var(--width-xl);
    }
}

@media (width >= 1536px /* --width-2-xl */) {
    .main {
        width: var(--width-2-xl);
    }
}
