@font-face {
    font-family: 'YS Text';
    font-weight: 300;
    src: url('@/assets/ys-text/text-light.woff2');
}

@font-face {
    font-family: 'YS Text';
    font-weight: 400;
    src: url('@/assets/ys-text/text-regular.woff2');
}

@font-face {
    font-family: 'YS Text';
    font-weight: 500;
    src: url('@/assets/ys-text/text-medium.woff2');
}

@font-face {
    font-family: 'YS Text';
    font-weight: 700;
    src: url('@/assets/ys-text/text-bold.woff2');
}
