html,
body {
    padding: 0;
    font-family: var(--typography-font-family);
    color: var(--color-typo-primary);
    background-color: var(--color-bg-default);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}
