:root {
    --radius-full: 9999px;

    --width-2-xs: 320px;
    --width-xs: 480px;
    --width-s: 640px;
    --width-m: 768px;
    --width-l: 1024px;
    --width-xl: 1280px;
    --width-2-xl: 1536px;
}
